<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\MediaGallerySynchronization\Model\FetchMediaStorageFileBatches"
                type="MageSuite\MediaGallery\Model\MediaGallerySynchronization\FetchMediaStorageInAllowedFolders"/>

    <type name="Magento\MediaGallerySynchronization\Model\FetchMediaStorageFileBatches">
        <arguments>
            <argument name="fileExtensions" xsi:type="array">
                <item name="mp4" xsi:type="string">mp4</item>
            </argument>
        </arguments>
    </type>

    <type name="Magento\MediaGalleryIntegration\Plugin\SaveImageInformation">
        <arguments>
            <argument name="imageExtensions" xsi:type="array">
                <item name="mp4" xsi:type="string">mp4</item>
            </argument>
        </arguments>
    </type>

    <type name="Magento\Cms\Model\Wysiwyg\Images\Storage">
        <plugin name="unset_uploaded_file_type" type="MageSuite\MediaGallery\Plugin\Magento\Cms\Model\Wysiwyg\Images\Storage\UnsetUploadedFileType"/>
    </type>
</config>
